 body{
color:blue;
background:lightblue;
}
header{
    border-bottom: solid 2px rgb(rgb(97, 39, 39);
    padding: 20px;
    font-size: 32px;
    color: blue;
    background-color: rgb(62, 52, 72);
}
.chamada{
background-color: cadetblue;
padding-top: 100px;
padding-bottom: 100px;
display: flex;
justify-content: center;
}