 body{
color:blue;
background:lightblue;
}
header{
    border-bottom: solid 2px rgb(rgb(97, 39, 39);
    padding: 20px;
    font-size: 32px;
    color: blue;
    background-color: rgb(62, 52, 72);
}
.chamada{
background-color: cadetblue;
padding-top: 100px;
padding-bottom: 100px;
display: flex;
justify-content: center;
}
chamada-texto {
    margin: right 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img{
    height: 100px;
}
.categorias_videos{
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
}
